# Domains
TRAEFIK_DOMAIN=traefik.example.com
PORTAINER_DOMAIN=portainer.example.com

# Credentials
EMAIL=admin@example.com
DB_PASSWORD=changeme
HASHED_PASSWORD=  # Will be generated during setup

# ERPNext Configuration
BENCH_NAME=erpnext
VERSION=v14.13.0
SITES=`erp.example.com`

# Backup Configuration (Optional)
RESTIC_REPOSITORY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
RESTIC_PASSWORD=

# System
TZ=AFRICA/JOHANNESBURG